<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
</head>
<body>
    <div id="area-1">
        <div>
            <span>시공공간은 몇 평이세요?</span>
            <select id="homeSize"></select>
        </div>
        <div>
            <button class="nextBtn" value="1">다음</button>
        </div>
    </div>
    <div id="area-2" style="display:none">
        <div>
            시공시작일은 언제가 좋으세요?
            <input id="startDate" type="text" /><br/>
            시공마감일은 언제가 좋으세요?
            <input id="endDate" type="text">
        </div>
        <div>
            <button class="prevBtn" value="2">이전</button>
            <button class="nextBtn" value="2">다음</button>
        </div>
    </div>
    <div id="area-3" style="display:none">
        <div>
            <span>시공전문가에게 원하시는게 무엇인가요? (금액, 자재 등)</span>
        </div>
        <div>
            <textarea id="requirements"></textarea>
        </div>
        <div>
            <button class="prevBtn" value="3">이전</button>
            <button id="apply">가격제안 받기</button>
        </div>
    </div>
</body>
<script type="application/javascript" src="/js/Apply.js"></script>
</html>