<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
  <div>
    <label for="id">
      <input id="id" type="text"/>
    </label>
    <br/>
    <label for="password">
      <input id="password" type="password"/>
    </label>
    <br/>
    <label for="name">
      <input id="name" type="text"/>
    </label>
    <br/>
    <button id="signUp">Sign Up</button>
  </div>
</body>
<script type="text/javascript" src="/js/SignUp.js"></script>
</html>